@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/NotoSansThai-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html, body {
font-family: "MyFont", sans-serif;
}

@keyframes botFloat {
  0%, 100% { transform: translateY(0) }
  50% { transform: translateY(-6px) }
}
.animate-botFloat {
  animation: botFloat 1.6s ease-in-out infinite;
}